<ion-view hide-nav-bar="false">

  <ion-nav-buttons side="left">
      <a ng-if="data.poi != null" ng-click="goPoi()"  class="generic-back-button button button-icon icon ion-ios-world-outline generic-button-bar"></a>
      <h1 class="title">
      <img id="menu-logo" ng-src="img/menu_icon.png"></img></h1>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a ng-click="showMainMenu()" class="generic-back-button button button-icon icon ion-navicon-round generic-button-bar"></a>
  </ion-nav-buttons>



  <ion-content id="viewMain" scroll="false" padding="false" class="" style="text-align:center;" >


  <ion-slides options="data.sliderOptions" slider="data.sliderDelegate" style="pointer-events: none;">
    
      <ion-slide-page ng-repeat="current_slide in data.myslider.slide_list">

          <div id="guide_{{$index}}" class="box slideFull" ion-img-cache-bg style="background-repeat: no-repeat; background-position: center center; background-size:cover; background-image:url({{current_slide}}); height:100%;"></div>

      </ion-slide-page>

<!--
    <ion-slide-page ng-repeat="bgColor in data.bgColors">
      
      <div class="box {{bgColor}}"></div>
    
    </ion-slide-page>
-->  
  </ion-slides>

<!--

    <ion-slides options="data.sliderOptions" slider="data.sliderDelegate" style="">

      <ion-slide-page ng-repeat="current_slide in data.myslider.slide_list">

          <div id="guide_{{$index}}" class="box slideFull" ion-img-cache-bg style="background-repeat: no-repeat; background-position: center center; background-size:cover; background-image:url({{current_slide}}); height:100%;"></div>

      </ion-slide-page>

    </ion-slides>
-->



    <div id="riquadro" >    
        <input id="codice" ng-Model="codiceTxt" type="text" style="float:left;" placeholder="{{data.labels.title}}"></input>
        <button ng-click="goAlbum(codiceTxt)" class="button button-positive cst-button" style="float:left;background-color: #9acf16;width:30%;">{{data.labels.Vai}}</button>
        <div style="clear:both;"></div>
        <button id="scanButton" ng-click="goScanQR()" class="button button-positive cst-button" style="background-color: #9acf16;float:right;">{{data.labels.scanQr}}
        <img src="img/QRCode.png" style="height: 70%;float:right;margin-right:5%;margin-top: 1px;"></img></button>
        <div style="clear:both;"></div>
<!--
        <a onclick="goMomentsWebsite()" href="https://www.moments-ar.it/" target="_blank" style="">{{data.labels.NonSaiCosaEmoments}}</a>
-->
        <a ng-click="goMomentsWebsite()" href="" style="">{{data.labels.NonSaiCosaEmoments}}</a>
    
    </div>     

    <button ng-if="data.lastCodiceProgetto != null" id="lastAlbumButton" ng-click="goAlbum('{{data.lastCodiceProgetto}}')" class="button button-positive cst-button" style="background-color: #9acf16;">{{data.labels.RitornaA}}<br>{{data.lastNomeProgetto}}</button>

  </ion-content>

</ion-view>



