<ion-view id="viewProgettoDetail" hide-nav-bar="false" ion-img-cache-bg ng-style="{'background-image' : 'url(' + data.layout.homeSfondo + ')'}">

  <ion-nav-buttons class="viewTestataDetailHeader" side="left">
    <a ng-click="goBackToListaProgetti()"  class="generic-back-button button button-icon icon ion-android-arrow-dropleft generic-button-bar"></a>

    <div ng-if="data.audioState == 1" ng-click="pauseAudio()" class="progetto_users generic-back-button button button-icon icon generic-button-bar" style="padding-left:4px;padding-right:4px;"><i class="fa fa-volume-up" style="font-size: 1.7em;float:left;margin-top: 4px;"></i>
    </div>
    
    <div ng-if="data.audioState == 2" ng-click="restartAudio()" class="progetto_users generic-back-button button button-icon icon generic-button-bar" style="padding-left:4px;padding-right:4px;"><i class="fa fa-volume-off" style="font-size: 1.7em;float:left;margin-top: 4px;"></i>
    </div>


    <h1 class="title"><img id="menu-logo" ion-img-cache-bg ng-src="{{data.layout.homeLogo}}"></img></h1>
  </ion-nav-buttons>

  <ion-nav-buttons class="viewTestataDetailHeader" side="right">

    <div ng-if="data.progetto.numUtenti != 0" class="progetto_users generic-back-button button button-icon icon generic-button-bar" style="margin-top: 4px;font-size:22px;padding-left:4px;padding-right:4px;"><i class="fa fa-users" style="font-size: 0.93em;float:left;margin-top: 4px;"></i><span style="float:left;margin-top: -2px;">{{data.progetto.numUtenti}}</span></div>


    <!-- Tray notifica richieste di gioco -->

    <a ng-if="game_center.games_count > 0" ng-click="game_center.openGameRequests()" class="generic-back-button button button-icon icon ion-ribbon-b generic-button-bar" style="padding-left:4px;padding-right:4px;">
      <span ng-if="game_center.pending_requests.progetto > 0" class="badge badge-assertive" style="top:-25px; left:-10px;display: block;">{{game_center.pending_requests.progetto}}</span>
    </a>
    <!-- Tray notifica richieste di gioco -->

    <!-- carrello -->

    <div ng-if="data.carrelloItems != null" ng-click="startCarrello()" class="progetto_users generic-back-button button button-icon icon generic-button-bar" style="padding-left:4px;padding-right:4px;"><i class="{{data.carrelloItems.icon}}" style="font-size: 1.7em;float:left;margin-top: 0px;"></i>
    </div>

    <!-- fine carrello -->

    <a ng-click="showMainMenu()"  class="generic-back-button button button-icon icon ion-navicon-round generic-button-bar"></a>
  
  </ion-nav-buttons>

  <div class="bar bar-subheader">
    <h4 class="title" style="color:{{data.layout.coloreTitolo}};">{{data.labels.title}}</h4>
  </div>


  <ion-content scroll="true" padding="false" class="has-header has-subheader">

    <ion-list>

        <ion-item ng-repeat="ContenutoAumentato in data.progetto.detail.target" ng-hide="ContenutoAumentato.mostraIndice != 1" class="contenuto-aumentato-item" ng-click="avviaRealtaAumentataProgetto()">

            <div class="contenuto-aumentato" ion-img-cache-bg style="background-image:url({{ContenutoAumentato.imagePath | getUrl}});">
                <div class="contenuto-aumentato-nome">{{ContenutoAumentato.imageName}}</div>
                <div class="contenuto-aumentato-descr">{{ContenutoAumentato.imageDescr}}</div>
            </div>

        </ion-item>

    </ion-list>

  </ion-content>

  <ion-footer-bar align-title="center" style="">

    <div class="buttons" style="width:100%">
      <button class="button button-full button-positive startButton" ng-click="avviaSferaFoto()" style="font-size: initial;font-family: inherit;color:{{data.layout.coloreTesto}};background-color:{{data.layout.coloreGenerale}}">PhotoSphere</button>
    </div>
  
  </ion-footer-bar>

  
  

</ion-view>
