#viewTestataDetail {
  background-size: cover;
  background-position:center center;
}

#viewTestataDetail .testataDetailFooter {
  height:90px;
  padding: 0px 0px 35px 0px;
  background:none;
}



@media all and (orientation:portrait) {

	#viewTestataDetail .imgLogo {
	  width: 90%;
	}

  #viewTestataDetail .imgLogo {
    position: relative;
    top: 35%;
    transform: translateY(-35%);
  }  

}

@media all and (orientation:landscape) {

	#viewTestataDetail .imgLogo {
	  width: 50%;
	}

  #viewTestataDetail .imgLogo {
    position: relative;
    top: 25%;
    transform: translateY(-35%);
  }  

}
