<ion-view id="viewNavigazioneProgetti" hide-nav-bar="false" ion-img-cache-bg ng-style="{'background-image' : 'url(' + data.layout.homeSfondo + ')'}">

  <ion-nav-buttons class="viewProgettoDetailHeader" side="left">

    <a ng-click="goBackToProgetto()"  class="generic-back-button button button-icon icon ion-android-arrow-dropleft generic-button-bar"></a>
    <h1 class="title"><img id="menu-logo" ion-img-cache-bg ng-src="{{data.layout.homeLogo}}"></img></h1>

  </ion-nav-buttons>

  <ion-nav-buttons class="viewProgettoDetailHeader" side="right">
    <a ng-click="showMainMenu()"  class="generic-back-button button button-icon icon ion-navicon-round generic-button-bar"></a>
  </ion-nav-buttons>

  <div class="bar bar-subheader">
    <h4 class="title" style="color:{{data.layout.coloreTitolo}};">{{data.layout.testataNome}} / {{data.numeri}}</h4>
  </div>

  <ion-content scroll="true" padding="false" class="has-header has-subheader">

    <ion-list>

        <ion-item ng-repeat="Progetto in data.listaProgetti" class="progetto" style="overflow: visible;" ng-click="clickOnProgetto(Progetto.idProgetto)">


            <div id="div_progetto_{{Progetto.idProgetto}}" class="progetto_dtl" ion-img-cache-bg style="background-image:url({{Progetto.immagineProgetto | getUrl}});">
                <div class="progetto_descr">{{Progetto.descrProgetto}}</div>
                <div ng-if="Progetto.pubblicato == 0" class="unpublished"><i class="ion-locked"></i></div>
                <div ng-if="Progetto.numUtenti != 0" class="progetto_users"><i class="fa fa-users" style="font-size: 0.80em;"></i><span style="font-size: 0.94em;padding: 0px 0px 0px 3px;">{{Progetto.numUtenti}}</span></div>
            </div>

        </ion-item>

    </ion-list>

    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadProgetti()" distance="10%"></ion-infinite-scroll>

  </ion-content>


</ion-view>
