html
{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body
{ 
	font-family: sans-serif, Arial, Segoe UI;
	font-size: 16px;
	background: #FFFFFF;
	margin: 0;
	padding: 0;
}

.header
{
	color: #fFFFFFF;
	height: 43px;
	position: fixed;
	top: 0px;
	display: block;
	width: 100%;
	background-color: transparent;
}

h1
{
	font-size: 30px;
	font-weight: normal;
	border-bottom: 4px solid #639ecd;
	display: inline-block;
	line-height: 53px;
	margin: 0 0 0 15px;
}

.content
{
	/*margin: 80px 5px;*/
	text-align: center;
}

.button
{
	border: 1px solid rgba(0, 0, 0, 1.0);
	border-radius: 0px;
	color: #000000;
	/*background: #fff url(img/button-background.png) repeat;*/
	line-height: 30px;
	background-color: #FFFFFF;
	/*box-shadow: 1px 1px 1px #6C7077;
	text-shadow: #7B7D82 1px 1px 1px;*/
	margin: 5px 3px;
	/*width: 143px;*/
	font-size: xx-large;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px
}

.buttonMini
{
	border: 1px solid rgba(0, 0, 0, 1.0);
	border-radius: 0px;
	color: #000000;
	/*background: #fff url(img/button-background.png) repeat;*/
	line-height: 30px;
	background-color: #FFFFFF;
	/*box-shadow: 1px 1px 1px #6C7077;
	text-shadow: #7B7D82 1px 1px 1px;*/
	margin: 5px 3px;
	/*width: 143px;*/
	font-size: large;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px
}

.buttonPoi
{
	background-color: #dddddd !important;
    border-color: #aaaaaa !important;	
    border-radius: 10px;
    /*box-shadow: 1px 1px 1px #6C7077;
	text-shadow: #7B7D82 1px 1px 1px;*/
	margin: 8px 8px;
	/*width: 143px;*/
	font-size: large;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-shadow: none;
}

.menuIcon
{
	height:60%;
	position: absolute;
	top:0%;
	right:0%;
	margin-top:0%;
	margin-right: 0%;

}

.menuIconAwesome
{
	/*
	font-size:xx-large;
	position: absolute;
	top:3px;
	right:7px;
	margin-top:0%;
	margin-right: 0%;
*/
}

.utenti {

    color: white;
    padding: 2px 5px 2px 6px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid white;
    font-family: sans-serif;
    font-size: 0.8em;

}

.momentsIcons
{
  float:left;
  width:8%;
}


.momentsValue {
  float:left;
  margin: 8px 7px 0 2px;
  font-size: medium;
}


@media screen and (max-height: 1200px)
{
	.centeredText
	{
		top:100px;
		font-size: 300%;
	}
}
@media screen and (max-height: 1100px)
{
	.centeredText
	{
		top:9px;
		font-size: 280%;
	}
}
@media screen and (max-height: 1000px)
{
	.centeredText
	{
		top:7px;
		font-size: 260%;
	}
}
@media screen and (max-height: 900px)
{
	.centeredText
	{
		top:6px;
		font-size: 240%;
	}
}
@media screen and (max-height: 800px)
{
	.centeredText
	{
		top:5px;
		font-size: 220%;
	}
}
@media screen and (max-height: 700px)
{
	.centeredText
	{
		top:4px;
		font-size: 200%;
	}
}
@media screen and (max-height: 600px)
{
	.centeredText
	{
		top:3px;
		font-size: 180%;
	}
}
@media screen and (max-height: 500px)
{
	.centeredText
	{
		top:2px;
		font-size: 160%;
	}
}
@media screen and (max-height: 400px)
{
	.centeredText
	{
		top:1px;
		font-size: 130%;
	}
}
@media screen and (max-height: 300px)
{
	.centeredText
	{
		top:1px;
		font-size: 100%;
	}
}
@media screen and (max-height: 200px)
{
	.centeredText
	{
		top:-1px;
		font-size: 80%;
	}
}

@media screen and (max-width: 2600px)
{
	.testo
	{
		font-size: 300%;
	}
	.testoMini
	{
		font-size: 200%;
	}
	
	.testoBig
	{
		font-size: xx-large;
	}
	.testoHeader
	{
		font-size: 150%;
		margin-top:2px;
	}
		
	.menuDiv
	{
		width:300px;
	}
	
	.menuText
	{
		font-size: 200%;
		margin-bottom: 40px;
	}
	
	.menuTitle
	{
		font-size: 200%;
		margin-bottom: 100px;
	}
	.tri
	{
		font-size: 200%;
		margin-bottom: 20px;
		padding:30px;
		width: 60%;
		line-height: 10px;
    	margin: 20px;
	}	

}


@media screen and (max-width: 1599px)
{
	.testo
	{
		font-size: 200%;
	}
	.testoMini
	{
		font-size: 150%;
	}
	
	.testoBig
	{
		font-size: xx-large;
	}
	.testoHeader
	{
		font-size: 150%;
		margin-top:2px;
	}
		
	.menuDiv
	{
		width:300px;
	}
	
	.menuText
	{
		font-size: 200%;
		margin-bottom: 40px;
	}
	
	.menuTitle
	{
		font-size: 200%;
		margin-bottom: 100px;
	}
	.tri
	{
		font-size: 200%;
		margin-bottom: 20px;
		padding:30px;
		width: 60%;
		line-height: 10px;
    	margin: 20px;
	}	

}

@media screen and (max-width: 1300px)
{
	.testo
	{
		font-size: 180%;
	}
	.testoMini
	{
		font-size: 130%;
	}
	
	.testoBig
	{
		font-size: xx-large;
	}
	.testoHeader
	{
		font-size: 150%;
		margin-top:2px;
	}
		
	.menuDiv
	{
		width:280px;
	}

	.menuText
	{
		font-size: 180%;
		margin-bottom: 40px;
	}
	
	.menuTitle
	{
		font-size: 180%;
		margin-bottom: 100px;
	}
	.tri
	{
		font-size: 180%;
		margin-bottom: 20px;
		padding:25px;
		width: 60%;
		line-height: 10px;
    	margin: 20px;
	}	


}


@media screen and (max-width: 1100px)
{
	.testo
	{
		font-size: 160%;
	}
	.testoMini
	{
		font-size: 120%;
	}
	.testoBig
	{
		font-size: 120%;
	}
	.testoHeader
	{
		font-size: 150%;
		margin-top:2px;
	}
		
	.menuDiv
	{
		width:250px;
	}

	.menuText
	{
		font-size: 160%;
		margin-bottom: 30px;
	}
	
	.menuTitle
	{
		font-size: 160%;
		margin-bottom: 100px;
	}	
	.tri
	{
		font-size: 160%;
		margin-bottom: 20px;
		padding:25px;
		width: 60%;
		line-height: 10px;
    	margin: 10px;
	}	
}

@media screen and (max-width: 1000px)
{
	.testo
	{
		font-size: 150%;
	}
	.testoMini
	{
		font-size: 110%;
	}
	.testoBig
	{
		font-size: xx-large;
	}
	.testoHeader
	{
		font-size: 150%;
		margin-top:2px;
	}
	
	.menuDiv
	{
		width:230px;
	}
	
	.menuText
	{
		font-size: 150%;
		margin-bottom: 20px;
	}
	
	.menuTitle
	{
		font-size: 150%;
		margin-bottom: 80px;
	}	
	.tri
	{
		font-size: 150%;
		margin-bottom: 20px;
		padding:25px;
		width: 60%;
		line-height: 10px;
    	margin: 8px;
	}	

}

@media screen and (max-width: 800px)
{
	.testo
	{
		font-size: 150%;
	}
	.testoMini
	{
		font-size: 95%;
	}
	.testoBig
	{
		font-size: xx-large;
	}
	.testoHeader
	{
		font-size: 150%;
		margin-top:2px;
	}

	.menuDiv
	{
		width:220px;
	}

	.menuText
	{
		font-size: 150%;
		margin-bottom: 20px;
	}
	
	.menuTitle
	{
		font-size: 150%;
		margin-bottom: 60px;
	}	
	.tri
	{
		font-size: 150%;
		margin-bottom: 20px;
		padding:20px;
		width: 60%;
		line-height: 10px;
    	margin: 8px;
	}		


}

@media screen and (max-width: 700px)
{
	.testo
	{
		font-size: 100%;
	}
	.testoMini
	{
		font-size: 80%;
	}
	.testoBig
	{
		font-size: xx-large;
	}
	.testoHeader
	{
		font-size: 150%;
		margin-top:2px;
	}

	.menuDiv
	{
		width:160px
	}

	.menuText
	{
		font-size: 100%;
		margin-bottom: 10px;
	}
	
	.menuTitle
	{
		font-size: 100%;
		margin-bottom: 30px;
	}	
	.tri
	{
		font-size: 100%;
		margin-bottom: 20px;
		padding:15px;
		width: 60%;
		line-height: 10px;
    	margin: 8px;
	}		

}

@media screen and (max-width: 500px)
{
	.testo
	{
		font-size: 80%;
	}
	.testoMini
	{
		font-size: 50%;
	}
	
	.testoBig
	{
		font-size: x-large;
	}

	.testoHeader
	{
		font-size: 150%;
		margin-top:2px;
	}


	.menuDiv
	{
		width:120px
	}

	.menuText
	{
		font-size: 80%;
		margin-bottom: 6px;
	}
	
	.menuTitle
	{
		font-size: 80%;
		margin-bottom: 20px;
	}

	.tri
	{
		font-size: 80%;
		margin-bottom: 20px;
		padding:10px;
		width: 60%;
		line-height: 10px;
    	margin: 8px;
	}

}

@media screen and (max-width: 400px)
{
	.testo
	{
		font-size: 80%;
	}
	.testoMini
	{
		font-size: 50%;
	}
	
	.testoBig
	{
		font-size: x-large;
	}

	.testoHeader
	{
		font-size: 90%;
		margin-top:10px;
	}


	.menuDiv
	{
		width:120px
	}

	.menuText
	{
		font-size: 80%;
		margin-bottom: 6px;
	}
	
	.menuTitle
	{
		font-size: 80%;
		margin-bottom: 20px;
	}

	.tri
	{
		font-size: 80%;
		margin-bottom: 20px;
		padding:10px;
		width: 60%;
		line-height: 10px;
    	margin: 8px;
	}

}


#downloadedImage{
    width:100%;
}

.horizontalLine
{
	border: none;
	border-top: 1px solid #B3B7BF;
	box-shadow: 0px -1px 0px #565961;
	margin-top: 20px;
	margin-bottom: 20px;
}

#result
{
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-top-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0.5);
	border-left-color: rgba(0, 0, 0, 0.2);
	background-color: rgba(103, 109, 119, 0.85);
	margin: 10px auto;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.7);
	color: #fff;
	line-height: 20px;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
	max-width: 468px;
	min-height: 20px;
	padding: 10px 18px;
}

.footer
{
	width: 100%;
	/*height: 2%;*/
	position: fixed;
	bottom: 0px;
	margin: 0 auto;
	/*background-image: url("img/footer-background.png");
	background-repeat: repeat-x;*/
	background-color: #888888;
	color: #ffffff;
}


.footer img
{
	height: 19px;
	width: 83px;
	float: left;
	padding-left: 12px;
	padding-top: 3px;
}

.footer div
{
	text-align: center;
	/*float: right;*/
	color: #FFFFFF;
	padding-right: 0px;
	padding-top: 4px;
}