
#ioncontentcommenti {
  /*overflow-y: hidden;    per iphone ci dovrebbe essere?*/ 
}


#albumSlides .immagine {

    //border: solid 1px grey;
    width:100%;
    height:100%;
    
    background-size:contain;
    background-position:center center;
    //background-color: rgba(220, 222, 205, 0.41);
    position:relative;

    background-repeat: no-repeat;
}



#albumSlides .hs {
    width:100%;
}




#albumSlides .containerLikes {
  padding:2%;
  padding-top:3%;
  position:absolute;
  left:0%;
  bottom:50px;
  width:100%;
  border:1px solid gray;
  border-radius: 10px;
  background-color: #eeeeee;
  height:50px;
}


#albumSlides .containerIconsSingle {
  float:left;
  background: rgba(255,255,255,0.7);
  padding: 1%;
  border-radius: 10px;
  width: 20%;
  margin-right:5%;
}

#albumSlides .likeImg {
  float:left;
  /*width:8%;*/
}

#albumSlides .likeValue {
  float:left;
  margin: 8px 7px 0 2px;
  font-size: small;
}

#video .videoPage {
    display: grid;
}

#video span {
      margin: auto;
}







@media all and (orientation:portrait) {

  #albumSlides .divHs {
    float:left;
    width:20%;
    margin-right: 5%;
    background: rgba(255,255,255,0.7);
    padding: 1%;
    border-radius: 10px;
  }

  #albumSlides .containerIcons {
    position:absolute;
    left:0%;
    bottom:10px;
    width:100%;
    border:0px solid red;
  }

  #albumSlides .iconsImage {
    float:left;
    width:50%;
  }  

  #albumSlides .iconsValue {
    float:left;
  }


  @media (max-width:1600px) {
    #albumSlides .containerLikes {
      padding: 10px;
      height:90px;
      bottom:140px;
    }
    
    #albumSlides .likeValue {
      margin: 36px 60px 0 2px;
      font-size: xx-large;
    }

    #albumSlides .iconsValue {
      margin: 42px 0px 0 5px;
      font-size: xx-large;
    }

  }
  @media (max-width:1100px) {
    #albumSlides .containerLikes {
      padding: 10px;
      height:90px;
      bottom:120px;
    }
    
    #albumSlides .likeValue {
      margin: 36px 22px 0 2px;
      font-size: xx-large;
    }

    #albumSlides .iconsValue {
      margin: 30px 0px 0 5px;
      font-size: xx-large;
    }

  }
  @media (max-width:800px) {
    #albumSlides .containerLikes {
      padding: 10px;
      height:70px;
      bottom:90px;
    }
    
    #albumSlides .likeValue {
      margin: 21px 12px 0 2px;
      font-size: x-large;
    } 

    #albumSlides .iconsValue {
      margin: 22px 0px 0 5px;
      font-size: x-large;
    }

  }
  @media (max-width:600px) {
    #albumSlides .containerLikes {
      padding: 10px;
      height:60px;
      bottom:70px;
   }

    #albumSlides .likeValue {
      margin: 16px 7px 0 2px;
      font-size: large;
    }   

    #albumSlides .iconsValue {
      margin: 14px 0px 0 5px;
      font-size: large;
    }

  }
  @media (max-width:500px) {
    #albumSlides .containerLikes {
      padding:2%;
      padding-top:3%;
      height:50px;
      bottom:60px;
    }
    
    #albumSlides .likeValue {
      margin: 8px 7px 0 2px;
      font-size: small;
    }   

    #albumSlides .iconsValue {
      margin: 9px 0px 0 5px;
      font-size: large;
    }


 }
  @media (max-width:400px) {

    #albumSlides .containerLikes {
      padding:2%;
      padding-top:3%;
      height:50px;
      bottom:50px;
    }

    #albumSlides .likeValue {
      margin: 8px 7px 0 2px;
      font-size: small;
    }    

    #albumSlides .iconsValue {
      margin: 5px 0px 0 5px;
      font-size: large;
    }

  }

  @media (max-width:350px) {

    #albumSlides .containerLikes {
      padding:2%;
      padding-top:3%;
      height:40px;
      bottom:50px;
    }

    #albumSlides .likeValue {
      margin: 8px 7px 0 2px;
      font-size: small;
    }

    #albumSlides .iconsValue {
      margin: 0px 0px 0 3px;
      font-size: smaller;
    }

  }


  #Text .TextContainer {
    margin-top: 80px;
    height:1400px;
    font-size: xx-large;
    line-height: 140%;     
  }

  @media (max-height:2000px) {
    #Text .TextContainer {
      margin-top: 80px;
      height:1600px;
      font-size: xx-large;
      line-height: 140%;      
    }
  }

  @media (max-height:1600px) {
    #Text .TextContainer {
      margin-top: 80px;
      height:1400px;
      font-size: xx-large;
      line-height: 140%;      
    }
  }

  @media (max-height:1500px) {
    #Text .TextContainer {
      margin-top: 80px;
      height:1300px;
      font-size: xx-large;
      line-height: 140%; 
    }    
  }

  @media (max-height:1400px) {
    #Text .TextContainer {
      margin-top: 80px;
      height:1100px;
      font-size: xx-large;
      line-height: 140%; 
    }  
  }

  @media (max-height:1200px) {
    #Text .TextContainer {
      margin-top: 80px;
      height:900px;
      font-size: x-large;
      line-height: 130%;      
    }  
  }

  @media (max-height:1000px) {
    #Text .TextContainer {
      margin-top: 80px;
      height:800px;
      font-size: x-large;
      line-height: 130%;      
    } 
  }

  @media (max-height:900px) {
    #Text .TextContainer {
      margin-top: 80px;
      height:700px;
      font-size: larger;
      line-height: 130%;      
    }          
  }

  @media (max-height:800px) {
    #Text .TextContainer {
      margin-top: 80px;
      height:600px;
      font-size: larger;
      line-height: 130%;      
    } 
  }

  @media (max-height:700px) {
    #Text .TextContainer {
      margin-top: 80px;
      height:500px;
      font-size: larger;
      line-height: 120%;  
    } 
  }

  @media (max-height:600px) {
    #Text .TextContainer {
      margin-top: 80px;
      height:400px;
      font-size: medium;
      line-height: 110%;       
    } 

  }

  

}
@media all and (orientation:landscape) {

  #albumSlides .divHs {
    float: left;
    width: 12%;
    margin-right: 2%;
    background: rgba(255,255,255,0.7);
    padding: 1%;
    border-radius: 10px;
  }

  #albumSlides .containerIcons {
    position:absolute;
    left:0%;
    bottom:0px;
    width:60%;
    border:0px solid red;
  }

  #albumSlides .iconsImage {
    float:left;
    width:50%;
  }

  #albumSlides .iconsValue {
    float:left;
    margin: 10px 0px 0 5px;
    font-size: large;
  }

  #commentsList .commentsContainer{
    height:60%;
  }

 @media (max-width:3500px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:500px;
        width:33%;
    }

  }
  @media (max-width:1500px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:400px;
        width:50%;
    }

  }
  @media (max-width:1100px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:300px;
        width:50%;
    }
  }
  @media (max-width:800px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:200px;
        width:50%;
    }
  }
  @media (max-width:400px) {


  }





}
