

ion-slides{
  height: 100vh !important;
}


#viewMain .swiper-pagination{
  display:none;
}


@font-face {
  font-family: "my-font";
  src: url("fonts/Comfortaa.ttf"); 
}


/*
GloriaHallelujah.ttf
Comfortaa.ttf
JosefinSans-Light.ttf
JosefinSans-Regular.ttf
MavenPro-Medium.ttf
MavenPro-Regular.ttf
Rajdhani-Regular.ttf
Raleway-Regular.ttf
Roboto-Regular.ttf
RobotoMono-Regular.ttf
Ubuntu-Regular.ttf
*/

body {
  font-family: my-font;
}

#riquadro {
    width:80%;
    border: solid 1px gray;
    /*height:200px;*/
    position: absolute;
    top: 20%;
    z-index: 9999;
    background-color: rgba(255,255,255,0.9);
    margin-left: 10%;
    padding:5%;
    border-radius: 10px;
}

a {
  font-size: 20px;
}

a:link {
  color: #555555;
  text-decoration: none;
}
a:visited {
  color: #555555;
  text-decoration: none;
}
a:hover {
  color: #555555;
  text-decoration: none;
}
a:active {
  color: #555555;
  text-decoration: none;
}

#lastAlbumButton {
    width:60%;
    border: solid 1px gray;
    height: auto !important;
    position: absolute;
    bottom: 10%;
    z-index: 9999;
    left: 20%;
    padding:2%;
    border-radius: 10px;
    opacity: 0.95;
}

#appSplashScreen
{
  text-align: center;
}


#viewMain .slideFull {


}


#viewMain input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-family: my-font;
    width: 65%;
    /*margin-left: 5%;*/
    margin-right: 5%;
    border: 1px solid;
    min-height: 34px; /* come il pulsante */
    margin-top:2%;
    padding-left: 10px;
    padding-top: 1px;
}


#viewMain input[placeholder] { text-overflow: ellipsis; 
                              line-height:normal!important;
}
#viewMain ::-moz-placeholder { text-overflow: ellipsis;  /* firefox 19+ */
                              line-height:normal!important;
}
#viewMain input:-moz-placeholder { text-overflow: ellipsis; 
                              line-height:normal!important;
}
#viewMain input::-webkit-input-placeholder { text-overflow: ellipsis; 
                              line-height:normal!important;
}


input::-webkit-input-placeholder {
     line-height:normal!important;
}

#viewMain button {
    height: 34px; /* come il pulsante */
    min-height: 34px;
    line-height: 22px;
    margin-top: 2%;
    font-family: my-font;
}



#appFirstWelcomeScreen {
  border:solid 1px gray;
  background-image: url(../img/sfondo_splash_screen.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  right:0%;
  left:0%;
  height:100%;
  top:0%;
}

.logoSplash {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
  .infoPermessi {
      position: absolute;
      width: 80%;
      top: 50%;
      left: 10%;
  } 





#appFirstWelcomeScreen .splashScreenFooter {
  height:55px;
  padding: 0px;
  background:none;
}



#appFirstWelcomeScreenDisclaimer {
  top:0px !important;
  bottom:0px  !important;
  left:0px  !important;
  right:0px  !important;
  width:100%  !important;
  height:100%  !important;
  background-image: url(../img/sfondo_splash_screen.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

#appFirstWelcomeScreenDisclaimer .bar-header {
  background-color:rgba(255,255,255,0.5);
}

#appFirstWelcomeScreenDisclaimer iframe {
  height: 100%;
  width:100%;
}

#appFirstWelcomeScreenDisclaimer .scroll-content {
  text-align: justify;
  margin:5px;
  bottom:95px;
}


#appFirstWelcomeScreenDisclaimer .bar-footer {
    padding:0px;
    margin:0px;
    height:90px;
    display: block;
    background-color:rgba(255,255,255,0.5);
    background-image: none;
}

#appFirstWelcomeScreenDisclaimer .item {
    background-color:transparent;
}

#appFirstWelcomeScreenDisclaimer #row1 {
  height:44px; width:100%; display:block;
}

#appFirstWelcomeScreenDisclaimer #row2 {
  height:46px; width:100%; display:block;
}


#appFirstWelcomeScreenDisclaimer #row1 .item-checkbox {
  padding:10px 10px 10px 60px;
}

#appFirstWelcomeScreenDisclaimer .button {
  padding:0px;
  margin:0px;
  height:100%;
}


#splashTitle {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size:large;
}

#logoSplashBox {
  width:80%;
  margin-left:10%;
  margin-bottom:10%;
  position:relative;
}

#nomeSplashBox{
  padding:5px;
  margin:2% 15px 20px 15px;
}

#splashContent .button{
  margin-top:5%;
}

#creditsFotografo{
  border: 1px solid #aaa;
  width: 90%;
  position: absolute;
  top: 0px;
  margin-left: 5%;
  margin-top: 5%;
  background: #ffffff;
  font-size: large;
  color: #000000;
  padding-top: 10%;
  padding-bottom: 10%;
}



.iconaInfo{
  position:absolute;
  font-size: 50px;
  bottom:0px;
  right:0px;
  color:#000000;
  text-shadow: -2px 0 2px #fff, 2px 0 2px #fff, 2px 0 2px #fff, -2px 0 2px #fff;
}





@media all and (orientation:portrait) {

  #appFirstWelcomeScreen .logoSplash{
    width:40%;
  }

  /* risoluzioni superiori a 2100 */
  #riquadro {
      width:50%;
      margin-left: 25%;
      padding:2%;
  }
  #viewMain button {
      height: 50px;
      min-height: 50px;
      line-height: 40px;
  }
  #viewMain input {
      min-height: 48px; 
      font-size:32px;
  }
  #scanButton {
      width:30%;
      margin-right: 35%;
      margin-top:5% !important;
      margin-bottom:5%;
  }    
  #lastAlbumButton {
      width:30%;
      left: 35%;
      padding:1%;
  }  
  a {
    font-size: 30px;
  }

  /* splash screen fotografo */
  #appSplashScreen
  {
    top: 12%;
    bottom: 12%;
    font-size: 50px;
  }
  #splashTitle {
    font-size: 60px;
  }
  #splashContent .button{
    height:100px;
  }
  .iconaInfo{
    font-size: 140px;
  }
  #logoSplashBox {
    margin-bottom:10%;
  }
  #nomeSplashBox{
    margin-bottom:0%;
  }

  @media (max-width:2100px) {
    #riquadro {
        width:60%;
        margin-left: 20%;
        padding:2%;
    }
    #viewMain button {
      height: 70px; 
      min-height: 70px;
      line-height: 50px;
    }
    #viewMain input {
        min-height: 70px; 
        font-size: 40px;
    }
    #scanButton {
        width:40%;
        margin-right: 30%;
        margin-top:5% !important;
        margin-bottom:5%;
    }    
    #lastAlbumButton {
        width:30%;
        left: 35%;
        padding:1%;
    }  
    a {
      font-size: 30px;
    }

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 12%;
      bottom: 12%;
      font-size: 50px;
    }
    #splashTitle {
      font-size: 60px;
    }
    #splashContent .button{
      height:100px;
    }
    .iconaInfo{
      font-size: 140px;
    }
    #logoSplashBox {
      margin-bottom:10%;
    }
    #nomeSplashBox{
      margin-bottom:0%;
    }

  }

  @media (max-width:1600px) {
    #riquadro {
        width:60%;
        margin-left: 20%;
        padding:2%;
    }
    #viewMain button {
      height: 70px; 
      min-height: 70px;
      line-height: 50px;
    }
    #viewMain input {
        min-height: 70px; 
        font-size: 30px;
    }
    #scanButton {
        width:40%;
        margin-right: 30%;
        margin-top:5% !important;
        margin-bottom:5%;
    }    
    #lastAlbumButton {
        width:30%;
        left: 35%;
        padding:1%;
    }  
    a {
      font-size: 30px;
    }    

    /* splash screen fotografo */
      #appSplashScreen
      {
        top: 12%;
        bottom: 12%;
        font-size: 34px;
      }
      #splashTitle {
        font-size: 50px;
      }
      #splashContent .button{
        height:100px;
      }
      .iconaInfo{
        font-size: 100px;
      }
      #logoSplashBox {
        margin-bottom:10%;
      }
      #nomeSplashBox{
        margin-bottom:0%;
      }

  }

  @media (max-width:1100px) {

    #riquadro {
        width:60%;
        margin-left: 20%;
        padding:2%;
    }
    #viewMain button {
      height: 54px; 
      min-height: 54px;
      line-height: 40px;
    }
    #viewMain input {
        min-height: 54px; 
        font-size: 24px;
    }
    #scanButton {
        width:40%;
        margin-right: 30%;
        margin-top:5% !important;
        margin-bottom:5%;
    }    
    #lastAlbumButton {
        width:40%;
        left: 30%;
        padding:1%;
    }  
    a {
      font-size: 24px;
    } 

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 15%;
      bottom: 15%;
      font-size: 24px;
    }
    #splashTitle {
      font-size: 32px;
    }
    #splashContent .button{
      height:40px;
    }
    .iconaInfo{
      font-size: 60px;
    }
    #logoSplashBox {
      margin-bottom:10%;
    }
    #nomeSplashBox{
      margin-bottom:5%;
    }  
     
  }
  @media (max-width:800px) {

    #riquadro {
        width:70%;
        margin-left: 15%;
        padding:2%;
    }
    #viewMain button {
      height: 44px; 
      min-height: 44px;
      line-height: 30px;
    }
    #viewMain input {
        min-height: 44px; 
        font-size: 18px;
    }
    #scanButton {
        width:40%;
        margin-right: 30%;
        margin-top:5% !important;
        margin-bottom:5%;
    }    
    #lastAlbumButton {
        width:40%;
        left: 30%;
        padding:1%;
    }  
    a {
      font-size: 18px;
    } 

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 15%;
      bottom: 15%;
      font-size: 20px;
    }
    #splashTitle {
      font-size: 26px;
    }
    #splashContent .button{
      height:40px;
    }
    .iconaInfo{
      font-size: 40px;
    }
    #logoSplashBox {
      margin-bottom:5%;
    }
    #nomeSplashBox{
      margin-bottom:0%;
    }  
  

  }
  @media (max-width:600px) {

    #riquadro {
        width:70%;
        margin-left: 15%;
        padding:2%;
    }
    #viewMain button {
      height: 42px; 
      min-height: 42px;
      line-height: 32px;
    }
    #viewMain input {
        min-height: 44px; 
        font-size: 20px;
    }
    #scanButton {
        width:50%;
        margin-right: 25%;
        margin-top:5% !important;
        margin-bottom:5%;
    }    
    #lastAlbumButton {
        width:50%;
        left: 25%;
        padding:1%;
    }  
    a {
      font-size: 17px;
    } 

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 0%;
      bottom: 0%;
      font-size: 20px;
    }
    #splashTitle {
      font-size: 26px;
    }
    #splashContent .button{
      height:40px;
    }
    .iconaInfo{
      font-size: 40px;
    }
    #logoSplashBox {
      margin-bottom:5%;
    }
    #nomeSplashBox{
      margin-bottom:0%;
    }  


  }
  @media (max-width:500px) {

    #riquadro {
        width:80%;
        margin-left: 10%;
        padding:2%;
    }
    #viewMain button {
      height: 40px; 
      min-height: 40px;
      line-height: 30px;
    }
    #viewMain input {
        min-height: 40px; 
        font-size: 18px;
    }
    #scanButton {
        width:50%;
        margin-right: 25%;
        margin-top:5% !important;
        margin-bottom:5%;
    }    
    #lastAlbumButton {
        width:50%;
        left: 25%;
        padding:1%;
    }  
    a {
      font-size: 16px;
    } 

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 0%;
      bottom: 0%;
      font-size: 20px;
    }
    #splashTitle {
      font-size: 26px;
    }
    #splashContent .button{
      height:40px;
    }
    .iconaInfo{
      font-size: 40px;
    }
    #logoSplashBox {
      margin-bottom:5%;
    }
    #nomeSplashBox{
      margin-bottom:0%;
    }  
   

  }
  @media (max-width:400px) {

    #riquadro {
        width:80%;
        margin-left: 10%;
        padding:2%;
    }
    #viewMain button {
      height: 40px; 
      min-height: 40px;
      line-height: 28px;
    }
    #viewMain input {
        min-height: 40px;
        font-size: 16px;
    } 
    #scanButton {
        width:50%;
        margin-right: 25%;
        margin-top:5% !important;
        margin-bottom:5%;
    }    
    #lastAlbumButton {
        width:50%;
        left: 25%;
        padding:1%;
    }  
    a {
      font-size: 14px;
    } 

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 0%;
      bottom: 0%;
      font-size: 20px;
    }
    #splashTitle {
      font-size: 24px;
    }
    #splashContent .button{
      height:40px;
    }
    .iconaInfo{
      font-size: 40px;
    }
    #logoSplashBox {
      margin-bottom:2%;
      width: 66%;
      margin-left: 17%;
    }
    #nomeSplashBox{
      margin-bottom:0%;
    }  


    .infoPermessi {
        position: absolute;
        width: 80%;
        top: 40%;
        left: 10%;
    } 

         
  }

  @media (max-width:300px) {

    #riquadro {
        width:90%;
        margin-left: 5%;
        padding:2%;
    }
    #viewMain button {
      height: 34px; 
      min-height: 34px;
      line-height: 26px;
    }
    #viewMain input {
        min-height: 34px;
        font-size: 14px;
    } 
    #scanButton {
        width:50%;
        margin-right: 25%;
        margin-top:5% !important;
        margin-bottom:5%;
    }    
    #lastAlbumButton {
        width:60%;
        left: 20%;
        padding:1%;
    }  
    a {
      font-size: 12px;
    } 



    .infoPermessi {
        position: absolute;
        width: 80%;
        top: 40%;
        left: 10%;
    } 

        
  }

}
@media all and (orientation:landscape) {


  .infoPermessi {
      position: absolute;
      width: 80%;
      top: 40%;
      left: 10%;
  } 

  #appFirstWelcomeScreen .logoSplash{
    width:22%;
  }


  /* per risoluzioni superiori a 2100 */
  #riquadro {
      width:50%;
      margin-left: 25%;
      padding:4%;
  }
  #viewMain button {
      height: 50px;
      min-height: 50px;
      line-height: 40px;
  }
  #viewMain input {
      min-height: 48px; 
      font-size:32px !important;
  }
  #scanButton {
      width:40%;
      margin-right: 30%;
      margin-top:5%;
      margin-bottom:5%;
  }    
  #lastAlbumButton {
      width:30%;
      left: 35%;
      padding:1%;
  }  
  a {
    font-size: 30px;
  }

  /* splash screen fotografo */
  #appSplashScreen
  {
    top: 12%;
    bottom: 12%;
    font-size: 50px;
  }
  #splashTitle {
    font-size: 60px;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  #splashContent .button{
    height:100px;
    margin-top:3%;
  }
  .iconaInfo{
    font-size: 100px;
  }
  #logoSplashBox {
    margin-bottom:3%;
    width: 50%;
    margin-left: 25%
  }
  #nomeSplashBox{
    margin-bottom:0%;
  }


  @media (max-width:2100px) {
    #riquadro {
        width:50%;
        margin-left: 25%;
        padding:4%;
    }
    #viewMain button {
        height: 50px;
        min-height: 50px;
        line-height: 40px;
    }
    #viewMain input {
        min-height: 48px; 
        font-size:32px !important;
    }
    #lastAlbumButton {
        width:28%;
        left: 36%;
        padding:1%;
        line-height: 42px !important;
    }  
    a {
      font-size: 30px;
    }

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 12%;
      bottom: 12%;
      font-size: 40px;
    }
    #splashTitle {
      font-size: 50px;
      margin-top: 4%;
      margin-bottom: 4%;
    }
    #splashContent .button{
      height:100px;
      margin-top:3%;
    }
    .iconaInfo{
      font-size: 100px;
    }
    #logoSplashBox {
      margin-bottom:3%;
      width: 44%;
      margin-left: 28%
    }
    #nomeSplashBox{
      margin-bottom:0%;
    }    

  }

  @media (max-width:1600px) {

    #riquadro {
        width:50%;
        margin-left: 25%;
        padding:4%;
    }
    #viewMain button {
        height: 42px;
        min-height: 42px;
        line-height: 30px;
    }
    #viewMain input {
        min-height: 40px; 
        font-size:26px !important;
    }
    #scanButton {
        width:50%;
        margin-right: 25%;
    }     
    #lastAlbumButton {
        width:28%;
        left: 36%;
        padding:1%;
        line-height: 34px !important;
    }  
    a {
      font-size: 26px;
    }

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 10%;
      bottom: 10%;
      font-size: 30px;
    }
    #splashTitle {
      font-size: 40px;
      margin-top: 3%;
      margin-bottom: 3%;
    }
    #splashContent .button{
      height:70px;
      width:40% !important;
      margin-top:3%;
    }
    .iconaInfo{
      font-size: 60px;
    }
    #logoSplashBox {
      margin-bottom:3%;
      width: 40%;
      margin-left: 30%
    }
    #nomeSplashBox{
      margin-bottom:0%;
    }  

  }

  @media (max-width:1600px) and (min-height: 600px){ /* tablet, per esempio */

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 16%;
      bottom: 16%;
      font-size: 30px;
    }
    #splashTitle {
      font-size: 40px;
      margin-top: 3%;
      margin-bottom: 3%;
    }
    #splashContent .button{
      height:70px;
      width:40% !important;
      margin-top:3%;
    }
    .iconaInfo{
      font-size: 60px;
    }
    #logoSplashBox {
      margin-bottom:3%;
      width: 40%;
      margin-left: 30%
    }
    #nomeSplashBox{
      margin-bottom:0%;
    }  


  }

  @media (max-width:1100px) {

    #riquadro {
        top: 5%;
        width:70%;
        margin-left: 15%;
        padding:2%;
    }
    #viewMain button {
        height: 42px;
        min-height: 42px;
        line-height: 30px;
    }
    #viewMain input {
        min-height: 40px; 
        font-size:22px !important;
    }
    #scanButton {
        width:40%;
        margin-right: 30%;
    }     
    #lastAlbumButton {
        width:32%;
        left: 34%;
        padding:1%;
        line-height: 32px !important;
        bottom: 10%;
    }  
    a {
      font-size: 20px;
    }    

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 6%;
      bottom: 6%;
      font-size: 18px;
    }
    #splashTitle {
      font-size: 24px;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    #splashContent .button{
      height:40px;
      min-height:40px;
      line-height: 24px;
      width:35% !important;
      margin-top:1%;
    }
    .iconaInfo{
      font-size: 30px;
    }
    #logoSplashBox {
      margin-bottom:1%;
      width: 32%;
      margin-left: 34%
    }
    #nomeSplashBox{
      margin-bottom:0%;
      margin-top:0%;
    }  


  }

  @media (max-width:1100px) and (min-height: 500px){ /* tablet, per esempio */

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 20%;
      bottom: 20%;
      font-size: 18px;
    }
    #splashTitle {
      font-size: 24px;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    #splashContent .button{
      height:40px;
      min-height:40px;
      line-height: 24px;
      width:35% !important;
      margin-top:1%;
    }
    .iconaInfo{
      font-size: 30px;
    }
    #logoSplashBox {
      margin-bottom:1%;
      width: 32%;
      margin-left: 34%
    }
    #nomeSplashBox{
      margin-bottom:0%;
      margin-top:0%;
    }  


  }


  @media (max-width:800px) {

    #riquadro {
        top: 5%;
        width:60%;
        margin-left: 20%;
        padding:3%;
    }
    #viewMain button {
        height: 34px;
        min-height: 34px;
        line-height: 24px;
    }
    #viewMain input {
        min-height: 34px; 
        font-size:18px !important;
    }
    #scanButton {
        width:60%;
        margin-right: 20%;
    }     
    #lastAlbumButton {
        width:40%;
        left: 30%;
        padding:1%;
        line-height: 24px !important;
        bottom: 5%;
    }  
    a {
      font-size: 16px;
    }  


    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 5%;
      bottom: 5%;
      font-size: 16px;
    }
    #splashTitle {
      font-size: 20px;
      margin-top: 4%;
      margin-bottom: 4%;
    }
    #splashContent .button{
      height:34px;
      min-height:34px;
      line-height: 24px;
      width:40% !important;
      margin-top:3%;
    }
    .iconaInfo{
      font-size: 30px;
    }
    #logoSplashBox {
      margin-bottom:2%;
      width: 34%;
      margin-left: 33%
    }
    #nomeSplashBox{
      margin-bottom:0%;
      margin-top:0%;
    }        

  }

  @media (max-width:679px) { /* a 680 ci sta il cambio di css per le modali, non vengono mostrate a tutta larghezza.... */

    /* splash screen fotografo */
    #appSplashScreen
    {
      top: 0%;
      bottom: 0%;
      font-size: 16px;
    }
    #splashTitle {
      font-size: 20px;
      margin-top: 2%;
      margin-bottom: 1%;
    }
    #splashContent .button{
      height:34px;
      min-height:34px;
      line-height: 24px;
      width:25% !important;
      margin-top:3%;
    }
    .iconaInfo{
      font-size: 30px;
    }
    #logoSplashBox {
      margin-bottom:2%;
      width: 20%;
      margin-left: 40%
    }
    #nomeSplashBox{
      margin-bottom:0%;
      margin-top:0%;
    }  


  }

  @media (max-width:600px) {

    #riquadro {
        top: 5%;
        width:80%;
        margin-left: 10%;
        padding:3%;
    }
    #viewMain button {
        height: 34px;
        min-height: 34px;
        line-height: 24px;
    }
    #viewMain input {
        min-height: 34px; 
        font-size:16px !important;
    }
    #scanButton {
        width:60%;
        margin-right: 20%;
    }     
    #lastAlbumButton {
        width:40%;
        left: 30%;
        padding:1%;
        line-height: 22px !important;
        bottom: 5%;
    }  
    a {
      font-size: 14px;
    } 
    

    .infoPermessi {
        position: absolute;
        width: 90%;
        top: 35%;
        left: 5%;
    }     
  }
  @media (max-width:500px) {
    #riquadro {
        top: 5%;
        width:80%;
        margin-left: 10%;
        padding:1%;
    }
    #viewMain button {
        height: 24px;
        min-height: 24px;
        line-height: 18px;
    }
    #viewMain input {
        height: 22px;
        min-height: 22px; 
        font-size:12px !important;
        width: 60%;
        margin-left: 2%;
    }
    #scanButton {
        width:50%;
        margin-right: 25%;
        margin-top:3% !important;
        margin-bottom:3%;
    }     
    #lastAlbumButton {
        width:50%;
        left: 25%;
        padding:1%;
        line-height: 16px !important;
        bottom: 5%;
    }  
    a {
      font-size: 12px;
    } 

  }
  
  @media (max-width:400px) {
    #riquadro {
        top: 2%;
        width:90%;
        margin-left: 5%;
        padding:1%;
    }
    #viewMain button {
        height: 20px;
        min-height: 20px;
        line-height: 16px;
    }
    #viewMain input {
        height: 20px;
        min-height: 20px; 
        font-size:10px !important;
        width: 60%;
        margin-left: 2%;
    }
    #scanButton {
        width:50%;
        margin-right: 25%;
        margin-top:3% !important;
        margin-bottom:3%;
    }     
    #lastAlbumButton {
        width:50%;
        left: 25%;
        padding:1%;
        line-height: 14px !important;
        bottom: 2%;
    }  
    a {
      font-size: 10px;
    } 

  }


}
