#viewProgettoDetail .contenuto-aumentato-item {

    background-color: rgba(0, 0,0, 0.0);
    border:none;
    float:left;
}

#viewProgettoDetail .contenuto-aumentato {
    border: solid 1px grey;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
    background-color: rgba(220, 222, 205, 0.41);
    position:relative;
}


#viewProgettoDetail .contenuto-aumentato-nome {

    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 3px;
}

#viewProgettoDetail .contenuto-aumentato-descr {

    position:absolute;
    right:0px;
    bottom:0px;
    background-color: transparent;
    color: white;
    padding: 3px;
}


#viewProgettoDetail .startButton {

    margin-left:0px;
    margin-right:0px;
}

#viewProgettoDetail .bar-footer {

  height: 95px;
  padding: 6px 0px 30px 0px;
  background: none;
  margin-bottom: -30px;

}

#viewProgettoDetail {
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
}






.scale-in {
  -webkit-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
  -webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
  transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}

.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.scale-in.ng-leave,
.scale-in > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}





@media all and (orientation:portrait) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:200px;
        width:100%;
    }

  @media (max-width:2100px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:600px;
        width:100%;
    }

    #viewProgettoDetail .title {
      font-size: 40px;
    }   

    #viewProgettoDetail .bar-footer{
      height: 160px;
      margin-bottom: -10px;
    }

    #viewProgettoDetail .startButton{
        font-size:50px !important;
    }
  @media (max-width:1600px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:500px;
        width:100%;
    }

    #viewProgettoDetail .title {
      font-size: 36px;
    }   

    #viewProgettoDetail .bar-footer{
      height: 160px;
      margin-bottom: -10px;
    }

    #viewProgettoDetail .startButton{
        font-size:50px !important;
    }


  }
  @media (max-width:1100px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:400px;
        width:100%;
    }

    #viewProgettoDetail .title {
      font-size: 30px;
    }   

    #viewProgettoDetail .bar-footer{
      height: 130px;
      margin-bottom: -30px;
    }

    #viewProgettoDetail .startButton{
        font-size:36px !important;
    }
  }
  @media (max-width:800px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:300px;
        width:100%;
    }

    #viewProgettoDetail .title {
      font-size: 24px;
    }   

    #viewProgettoDetail .bar-footer{
      height: 100px;
      margin-bottom: -30px;
    }

    #viewProgettoDetail .startButton{
        font-size:26px !important;
    }
  }
  @media (max-width:600px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:200px;
        width:100%;
    }

    #viewProgettoDetail .title {
      font-size: 24px;
    }   

    #viewProgettoDetail .bar-footer{
      height: 100px;
      margin-bottom: -30px;
    }

    #viewProgettoDetail .startButton{
        font-size:26px !important;
    }

  }
  @media (max-width:500px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:200px;
        width:100%;
    }

    #viewProgettoDetail .title {
      font-size: 22px;
    }   

    #viewProgettoDetail .bar-footer{
      height: 80px;
      margin-bottom: -30px;
    }

    #viewProgettoDetail .startButton{
        font-size:22px !important;
    }
 }
  @media (max-width:400px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:200px;
        width:100%;
    }

    #viewProgettoDetail .title {
      font-size: 22px;
    }   

    #viewProgettoDetail .bar-footer{
      height: 80px;
      margin-bottom: -30px;
    }

    #viewProgettoDetail .startButton{
        font-size:22px !important;
    }
  }



}
@media all and (orientation:landscape) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:300px;
        width:50%;
    }

 @media (max-width:3500px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:500px;
        width:33%;
    }

  }
  @media (max-width:1500px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:400px;
        width:50%;
    }

  }
  @media (max-width:1100px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:300px;
        width:50%;
    }
  }
  @media (max-width:800px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:200px;
        width:50%;
    }
  }
  @media (max-width:400px) {

    #viewProgettoDetail .contenuto-aumentato-item {
        height:100px;
        width:50%;
    }
  }





}
